<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <div class="header-start">
            <button onclick="togglePopup('nav-menu')" class="btn transparent">
                <img src="images/menu.svg" alt="">
            </button>
            <div class="menu collapse" id="nav-menu">
                <menu>
                </menu>
            </div>
        </div>

        <div class="header-end">
            <div class="row">
                <button onclick="togglePopup('location-menu')" class="btn transparent">
                    <!-- TODO: City menu -->
                    <h3 id="city"></h3>
                </button>
                <button onclick="togglePopup('weather-menu')" class="btn transparent weather">
                    <h3 id="weather-content"></h3>
               </button>
            </div>
            <div class="row">
                <div class="menu collapse" id="location-menu">
                    <p class="text center">Select Your City/Town</p>
                    <menu id="city-select">
                        <h4 class="menu-select text center">Almaty</h4>
                        <h4 class="menu-select text center">Astana</h4>
                        <h4 class="menu-select text center">Kostanay</h4>
                        <h4 class="menu-select text center">Shymkent</h4>
                    </menu>
                </div>
                <div class="menu collapse" id="weather-menu"></div>
            </div>
        </div>
    </header>


    <script src="js/common.js"></script>
    <script src="js/weather.js"></script>
    <script src="js/news.js"></script>
    <script src="js/location.js"></script>
    <script src="js/index.js"></script>
</body>
</html>