<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/translate.css">
</head>
<body>
    <header>
        <div class="header-start">
            <button onclick="togglePopup('nav-menu')" class="btn transparent">
                <img src="images/menu.svg" alt="">
            </button>
            <div class="menu collapse" id="nav-menu">
                <menu>
                    <button class="btn transparent" onclick="window.open('http://' + window.location.host + '/translate', '_self')">
                        <img src="images/translator-icon.svg" alt="">
                        <h3>Translator</h3>
                    </button>
                </menu>
            </div>
        </div>

        <div class="header-end">
            <div class="row">
                <button onclick="togglePopup('location-menu')" class="btn transparent">
                    <!-- TODO: City menu -->
                    <h3 id="city"></h3>
                </button>
                <button onclick="togglePopup('weather-menu')" class="btn transparent weather">
                    <h3 id="weather-content"></h3>
               </button>
            </div>
            <div class="row">
                <div class="menu collapse" id="location-menu">
                    <p class="text center">Select Your City/Town</p>
                    <menu id="city-select">
                        <h4 class="menu-select text center">Almaty</h4>
                        <h4 class="menu-select text center">Astana</h4>
                        <h4 class="menu-select text center">Kostanay</h4>
                        <h4 class="menu-select text center">Shymkent</h4>
                    </menu>
                </div>
                <div class="menu collapse" id="weather-menu"></div>
            </div>
        </div>
    </header>

    
    <main>
        <div class="block">
            <div class="panel inline" id="news">
                <textarea class="card" name="input" id="translate-input" placeholder="Enter text to translate"></textarea>
                <div id="translate-controls">
                    <button class="btn transparent" onclick="togglePopup('input-lang-menu')">
                        <h3 id="input-lang">en</h3>
                    </button>
                    <button class="btn transparent" id="translateBtn">
                        <img src="images/right-arrow-btn.svg" alt="">
                    </button>
                    <button class="btn transparent" onclick="togglePopup('output-lang-menu')">
                        <h3 id="output-lang">ru</h3>
                    </button>
                </div>
                <div class="column none">
                    <div class="menu collapse" id="input-lang-menu">
                        <menu id="input-lang-select">
                            <h4 class="menu-select text center">ru</h4>
                            <h4 class="menu-select text center">en</h4>
                            <h4 class="menu-select text center">de</h4>
                            <h4 class="menu-select text center">es</h4>
                        </menu>
                    </div>
                    <div class="menu collapse" id="output-lang-menu">
                        <menu id="output-lang-select">
                            <h4 class="menu-select text center">ru</h4>
                            <h4 class="menu-select text center">en</h4>
                            <h4 class="menu-select text center">de</h4>
                            <h4 class="menu-select text center">es</h4>
                        </menu>
                    </div>
                </div>    
                <p class="card" id="translate-output"></p>
            </div>
        </div>
    </main>


    <div class="transparent" id="overlay"></div>


    <script src="js/common.js"></script>
    <script src="js/weather.js"></script>
    <script src="js/news.js"></script>
    <script src="js/location.js"></script>
    <script src="js/translate.js"></script>
</body>
</html>