<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <style>
        body{
            justify-items: center;
        }

        .box{
            width: fit-content;
            padding: 20px;

            border: 2px solid grey;
            border-radius: 15px;
            justify-items: center;

            background-color: aliceblue;
        }
        form{
            *{
                margin-bottom: 10px;
            }
            input{
                border-width: 0px 0px 2px 0px;
                background-color: transparent;

                width: 100%;
            }
            button{
                padding: 5px;

                border: 1px solid grey;
                border-radius: 0px;

                background-color: white;
            }
            button:hover{
                cursor: pointer;
                background-color: lightgrey;
            }
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>BMI Calculator</h1>
        <form name="bmiForm" action="/calculate-bmi" method="post" onsubmit="return validateForm()">
            <label for="input_weight">Weight</label>
            <br>
            <input type="number" name="Weight" id="input_weight" placeholder="65" required>
            <br>
            <label for="input_height">Height</label>
            <br>
            <input type="number" name="Height" id="input_height" placeholder="165" required>
            <br>
            <button type="submit">Calculate</button>
        </form>
    </div>

    <script>
        function validateForm(){
            let form = document.forms['bmiForm'];
            result = (form['Weight'].value > 0) && (form['Height'].value > 0);
            if(result == false)
                alert('All values must be positive');
            return result;
        }
    </script>
</body>
</html>