#translate-input, #translate-output{
    margin: 0px 0px 10px 0px;
    min-height: 200px;
    min-width: 300px;
    resize: none;
    padding: 10px;
    border: 1px lightgrey solid;
}

#translate-controls {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    height: 100%;
    padding: 0;
    justify-content: space-evenly;
}